{% extends "base.jinja" %}

{% block contenu %}
    <div class="d-flex flex-column align-items-center">
        <h2 class="mt-3">Suppression de l'enchère</h2>
        <div class="mt-3">
            <p class="text-success text-center">L'enchère ({{ id }}) a bien été supprimée</p>
            <a href="/encheres/{{ id }}" class="btn btn-info">Retourner à la page détailes de l'enchère</a>
        </div>
    </div>
{% endblock %}