{% extends "base.jinja" %}

{% block contenu %}
    <section class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <img src="https://picsum.photos/seed/{{ enchere.id_enchere }}/800/400" alt="Photo de {{ enchere.titre }}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div>
                        <h3>{{ enchere.titre }}</h3>
                        <p>{{ enchere.description }}</p>
                        <div>
                            {% if active %}
                                <p class="text-success">{{ enchere.date_limite }}</p>
                                <p class="text-success">Actif</p>
                            {% else %}
                                <p class="text-danger">{{ enchere.date_limite }}</p>
                                <p class="text-danger">Inactif</p>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        {% if mise %}
                            {% if est_vendeur %}
                                <div class="card text-bg-light mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ nom }}</h5>
                                        <p class="card-text">Plus grande mise : {{ mise.montant }}$</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card text-bg-light mb-3">
                                    <div class="card-body">
                                        <p class="card-text">Plus grande mise : {{ mise.montant }}$</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="card text-bg-light mb-3">
                                <div class="card-body">
                                    <p class="card-text">Il n'y a aucune mise pour cette enchère.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        {% if user %}
                            {% if active %}
                                {% if not est_vendeur %}
                                    <form method="post" action="/encheres/{{ enchere.id_enchere }}" novalidate>
                                        <input type="hidden" name="id" value="{{enchere.id_enchere}}"/>
                                        <div>
                                            <label for="motant_miser" class="form-label">Miser :</label>
                                            <input type="number" name="motant_miser" id="motant_miser" class="form-control {{ validation }}">
                                            <div class="invalid-feedback">{{ message }}</div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2">Misez</button>
                                    </form>
                                {% else %}
                                    <p class="text-warning">Vous êtes le vendeur de cette enchère !</p>
                                {% endif %}
                            {% else %}
                                <p class="text-warning">Cette enchère n'est pas active.</p>
                            {% endif %}
                        {% else %}
                            <p class="text-warning">Vous devez vous <a href="/compte/connexion">connecter</a> pour miser.</p>
                        {% endif %}
                    </div>
                    <div class="mt-3">
                        {% if user.est_admin == 1 %}
                            <form method="post" action="/encheres/{{ route_btn }}" novalidate>
                                <input type="hidden" name="id" value="{{ enchere.id_enchere }}">
                                <input type="submit" class="btn btn-danger" value="{{ valeur_btn }}">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
